name: Mirror to Bitbucket

on:
  push:
    branches:
      - main
      - develop
      - 'feature/*'
      - 'hotfix/*'

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror to Bitbucket
        env:
          BB_USER: ${{ secrets.BITBUCKET_USERNAME }}
          BB_PASS: ${{ secrets.BITBUCKET_PASSWORD }}
          BB_REPO: ${{ secrets.BITBUCKET_REPO }}
        run: |
          git remote add bitbucket https://${BB_USER}:${BB_PASS}@${BB_REPO}
          git push bitbucket refs/heads/${{ github.ref_name }}:refs/heads/${{ github.ref_name }} --force
